@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root {
  /* Colors */
  --yellow: #f4d04e;
  --white: #ffffff;
  --grey: #7f7f7f;
  --black: #111111;

  /* Font Weight */
  --medium: 600;
  --extra-bold: 800;

  /* Spacings */
  --spacing-s: 1.2rem;
  --spacing-m: 2.4rem;
}

/* Base Styling */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px, 10px/16px = 62.5%*/
}

body {
  font-family: 'Figtree', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--yellow);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card Styling */
.card {
  max-width: 38.4rem;
  background-color: var(--white);
  padding: 2.4rem;
  border-radius: 2rem;
  box-shadow: 8px 8px #000000;
}

.card-main-img {
  width: 33.6rem;
  border-radius: 1rem;
}

.card-content {
  margin: var(--spacing-m) 0;
}

.card-content h2,
h3 {
  line-height: 1.5;
  color: var(--black);
}

.card-content h2 {
  font-size: 2.4rem;
  font-weight: var(--extra-bold);
  margin-bottom: var(--spacing-s);
  transition: ease 0.4s;
}

.card-content h2:hover {
  cursor: pointer;
  color: var(--yellow);
}

.card-content h3 {
  font-size: 1.4rem;
  font-weight: var(--medium);
  margin-bottom: var(--spacing-s);
}

.card-content p {
  font-size: 1.6rem;
  font-weight: var(--medium);
  line-height: 1.5;
  color: var(--grey);
}

.card-label {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: var(--extra-bold);
  background-color: var(--yellow);
  color: var(--black);
  padding: 0.4rem 1.2rem;
  border-radius: 0.4rem;
  margin-bottom: var(--spacing-s);
}

.card-author {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.card-author-img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: 1px solid var(--black);
}

.card-author-title {
  font-size: 1.4rem;
  font-weight: var(--extra-bold);
  line-height: 1.5;
  color: var(--black);
}

/* Media Queries */
@media only screen and (max-width: 375px) {
  .card {
    max-width: 32.7rem;
    margin: auto 2.4rem;
  }

  .card-main-img {
    width: 100%;
  }

  .card-content h2 {
    font-size: 2rem;
  }

  .card-content h3 {
    font-size: 1.2rem;
  }

  .card-content p {
    font-size: 1.2rem;
  }

  .card-label {
    font-size: 1.2rem;
  }
}
